html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-header {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #ffffff3d, #0000ff4a, #ffffffaa);
    position: fixed;
    width: 100%;
    top: 0;
    padding: 16px;
    color: white;
    box-shadow: 0 2px 5px #000000aa;

    > * {
        margin: 0 64px;
    }

    h1 {
        font-family: "Galada", cursive;
        font-style: italic;
        font-weight: normal;
    }

    ul {
        display: flex;
        font-size: 1.5rem;
        gap: 20px;
        list-style: none;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        padding-right: 5rem;

        li {
            cursor: pointer;
        }

    }

}

.explorer-word {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 3px #00000055;
    height: 100%;
    background: url('./assets/capa.jpg') no-repeat center center/cover;

    h1 {
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        align-self: center;
        justify-self: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        text-shadow: 2px 2px 5px #000000AA;
    }

    div {

        padding: 32px;
        background-color: #FFFFFF22;
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            justify-self: end;
            display: flex;
            margin-top: auto;
            height: auto;
            background-color: white;
            padding: 16px;
            border-radius: 16px;
            gap: 16px;
            width: 100%;
            max-width: 85vw;
            padding-top: 32px;
            padding-bottom: 32px;
    
            div {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 8px;
                align-items: flex-start;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: gray;
                padding: 0;
                font-size: 1.2rem;
                font-weight: 200;

                input {
                    height: 1rem;
                    width: -webkit-fill-available;
                    border-radius: 8px;
                    padding: 8px;
                    font-size: 1.5rem;
                    border: 2px solid lightgray;
                    padding-bottom: 16px;
                    padding-top: 16px;
                    color: gray;
                }
                
                button {
                    padding-bottom: 16px;
                    padding-top: 16px;
                    width: 100%;
                    height: auto;
                    background-color: orange;
                    border: none;
                    border-radius: 8px;
                    font-weight: bold;
                    color: white;
                    font-size: large;
                    cursor: pointer;
                }
            }
        }
    }

}

.next-experian {
    padding: 64px 48px;

    display: flex;
    gap: 2rem;

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h2 {
        font-family: 'Galada', cursive;
        font-weight: normal;
    }

    hr {
        border: 3px solid orange;
        border-radius: 50px;
        width: 24rem;
        margin: 0;
    }

}

.where-do-you-want-to-go {

}

.reviews {

}

.contacts {

}

.footer {

}

img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 2px 2px 10px #00000055;
    margin: 16px;
}