html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-header {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #0000ffaa, #ffffffaa);
    position: fixed;
    width: 100%;
    top: 0;
    padding: 16px;
    color: white;

    > * {
        margin: 0 64px;
    }

    h1 {
        font-family: cursive;
        font-style: italic;
    }

    ul {
        display: flex;
        font-size: 1.5rem;
        gap: 20px;
        list-style: none;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        padding-right: 5rem;

        li {
            cursor: pointer;
        }

    }

}

.explorer-word {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background: url('./assets/capa.jpg') no-repeat center center/cover;

    h1 {
        height: auto;
        margin-top: auto;
        align-self: center;
        justify-self: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        text-shadow: 2px 2px 5px #000000AA;
    }

    div {

        padding: 32px;
        background-color: #FFFFFF22;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        form {
            justify-self: end;
            display: flex;
            margin-top: auto;
            height: auto;
            background-color: white;
            padding: 16px;
            border-radius: 16px;
            gap: 16px;
            width: 100%;
            max-width: 85vw;
    
            div {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                gap: 8px;
                align-items: flex-start;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: gray;
                padding: 0;
                font-size: 1.5rem;
                font-weight: 200;

                input {
                    height: 1rem;
                    width: -webkit-fill-available;
                    border-radius: 8px;
                    border: 1px solid gray;
                    padding: 8px;
                    font-size: 1rem;
                    border: 1.5px solid gray;
                }

                button {
                    width: 100%;
                    height: 2.1rem;
                    background-color: orange;
                    border: none;
                    border-radius: 8px;
                    font-weight: bolder;
                    color: white;
                    font-size: x-large;
                }
            }
        }
    }

}

.next-experian {

}

.where-do-you-want-to-go {

}

.reviews {

}

.contacts {

}

.footer {

}

img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 2px 2px 10px #00000055;
    margin: 16px;
}